<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Password For Room:
    <input type="password" name="" id="">
    <button>Create Room</button>
    <script type="module" src ="index.js"></script>
</body>
</html>