<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join Room</h1>
    <h2> <%= `Room: ${roomID}` %> </h2>
    Room Password:
    <input type="password" name="" id="">
    <button>Join Room</button>
</body>
</html>