/* Progress Bar */
#progress-bar{
    margin-top: 5px;
    background-color: black;
    height: 10px;
    width: 640px;
    margin-left: 50px;
}

/* Play & Pause Buttons */
#buttons{
    margin-top: 10px;
    margin-left: 50px;
}

/*Youtube Player*/
#player{
    margin-top: 50px;
    margin-left: 50px;
}

/*Progress Dot*/
#dot{
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 6px;
}
